<footer>
    <div class="container">
        <div class="footer-strip">
            <div class="footer-right">
                <ul class="footer-links">
                    <li>
                        <div class="footer-link-icon footer-link-icon-linkedin"></div>
                    </li>
                    <li>
                        <div class="footer-link-icon footer-link-icon-facebook"></div>
                    </li>
                    <li>
                        <div class="footer-link-icon footer-link-icon-github"></div>
                    </li>
                </ul>
            </div>
            <!--div class="footer-right "><p>Em@il me:</p><form action="# " method="post "><input type="text " name="email " placeholder="Email " /><textarea name="message " placeholder="Message "></textarea><button>Send</button></form></div-->
        </div>
        <div class="footer-title">COGIN - FED Developer &copy; 2017</div>
    </div>
</footer>

<script src="javascripts/script.js"></script>