<div id="search-form" class="form-inline my-2 my-lg-0 search-form">
    <input name="keyword" class="search-form-input form-control mr-sm-2" type="text" placeholder="Search Amazon" aria-label="Search">
    <span class="search-form-search">
        <div class="search-form-search-icon" onclick="amazonApp.searchProducts()"></div>
    </span>
</div>